# Normalise text files to LF in the repository
* text=auto

*.cpp text
*.h   text
*.py  text
*.md  text
*.fs  text
*.rc  text
*.json text
CMakeLists.txt text

# Binary assets
*.png binary
*.ico binary
*.ogg binary
*.mp3 binary
*.wav binary
